<ul class="newest_movies thumbnails">
  <li><%= image_tag 'http://d3gtl9l2a4fn1j.cloudfront.net/t/p/w154/tGLO9zw5ZtCeyyEWgbYGgsFxC6i.jpg', :class => 'img-rounded' %></li>
  <li><%= image_tag 'http://d3gtl9l2a4fn1j.cloudfront.net/t/p/w154/tGLO9zw5ZtCeyyEWgbYGgsFxC6i.jpg', :class => 'img-rounded' %></li>
  <li><%= image_tag 'http://d3gtl9l2a4fn1j.cloudfront.net/t/p/w154/tGLO9zw5ZtCeyyEWgbYGgsFxC6i.jpg', :class => 'img-rounded' %></li>
  <li><%= image_tag 'http://d3gtl9l2a4fn1j.cloudfront.net/t/p/w154/tGLO9zw5ZtCeyyEWgbYGgsFxC6i.jpg', :class => 'img-rounded' %></li>
  <li><%= image_tag 'http://d3gtl9l2a4fn1j.cloudfront.net/t/p/w154/tGLO9zw5ZtCeyyEWgbYGgsFxC6i.jpg', :class => 'img-rounded' %></li>
  <li><%= image_tag 'http://d3gtl9l2a4fn1j.cloudfront.net/t/p/w154/tGLO9zw5ZtCeyyEWgbYGgsFxC6i.jpg', :class => 'img-rounded' %></li>
  <li><%= image_tag 'http://d3gtl9l2a4fn1j.cloudfront.net/t/p/w154/tGLO9zw5ZtCeyyEWgbYGgsFxC6i.jpg', :class => 'img-rounded' %></li>
  <li><%= image_tag 'http://d3gtl9l2a4fn1j.cloudfront.net/t/p/w154/tGLO9zw5ZtCeyyEWgbYGgsFxC6i.jpg', :class => 'img-rounded' %></li>
  <li><%= image_tag 'http://d3gtl9l2a4fn1j.cloudfront.net/t/p/w154/tGLO9zw5ZtCeyyEWgbYGgsFxC6i.jpg', :class => 'img-rounded' %></li>
  <li><%= image_tag 'http://d3gtl9l2a4fn1j.cloudfront.net/t/p/w154/tGLO9zw5ZtCeyyEWgbYGgsFxC6i.jpg', :class => 'img-rounded' %></li>
</ul>